.catalog_background {
  background-color: var(--lightgray);
}

.catalog_container {
  margin: auto;
  width: 93.5vw;
  padding-top: 40px;
  min-height: 600px;
}

.filterlist {
  display: flex;
  height: fit-content;
  background-color: #fff;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--border-gray);
  margin: auto;
  margin-bottom: 16px;
  padding: 16px 12px 0 12px;
}

.button_filter {
  background-color: var(--lightgray);
  border-radius: 17px;
  height: 35px;
  width: fit-content;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 16px;
}

.filter_active {
  font-weight: 700;
  order: -1;
  color: #fff;
  background-color: var(--main-color);
  transition: none;
}

.button_filter:not(.filter_active):hover {
  background-color: #eeeeee;
  color: var(--main-color);
}
