.search_wrapper {
  width: 800px;
  background-color: #f7f7f7;
  height: 60px;
  border-radius: 8px;
  transition: all 0.3s;
  padding: 20px;
  cursor: text;
  position: relative;
}

.search_wrapper:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
}

.search_wrapper:focus {
  background-color: #fff;
}

.search_input {
  width: 650px;
  color: #787878;
}

.result_list:nth-child(2) {
  margin-top: 15px;
}

.result {
  width: 800px;
  left: 0;
  top: 50px;
  background-color: #fff;
  padding-top: 10px;
}

.result h3 {
  font-size: 16px;
  color: #333333;
}

.result img {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.result_list {
  width: 800px;
  margin-left: -20px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.result_list li {
  height: 40px;
}

.result:hover {
  background-color: #f7f7f7;
}

.search_overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
