.product_background {
  width: 100vw;
  height: fit-content;
  background-color: #f6f6f6;
  margin: auto;
  z-index: -1;
}

.product_container {
  padding-top: 15px;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.product_container h1 {
  font-size: 32px;
  color: var(--main-gray);
  font-weight: 600;
  margin-bottom: 20px;
}

.product_card {
  border-radius: 12px;
  padding-bottom: 100px;
}

.product_card_main {
  padding: 25px;
  border-radius: 12px;
  display: flex;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 var(--border-gray);
  justify-content: space-between;
}

.product_img {
  margin-right: 10px;
  max-height: 560px;
  max-width: 560px;
  flex-grow: 1;
}

.product_characteristics {
  margin-top: 20px;
}

.product_characteristics h3 {
  color: var(--main-gray);
  margin-bottom: 20px;
}

.wrapper__rating {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stars {
  background-color: var(--lightgray);
  display: flex;
  border-radius: 8px;
  width: fit-content;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
}

.stars img {
  width: 10px;
  margin-right: 8px;
}

.stars h4 {
  margin-right: 4px;
  margin-top: 5px;
  color: var(--main-gray);
}

.product_section_price {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.product_section_price_cost {
  align-items: center;
  display: flex;
  background-color: var(--lightgray);
  font-size: 22px;
  color: var(--main-gray);
  font-weight: 700;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 12px;
  margin-right: 8px;
  flex-grow: 1;
}

.button_favorite_mobile {
  display: none;
}

.fav_button {
  min-width: 64px;
  height: 64px;
  background-color: var(--lightgray);
  border-radius: 12px;
  margin-right: 8px;
}

.fav_button img {
  width: 18px;
  height: 18px;
}

.product_section_price_buy {
  height: 64px;
  min-width: 150px;
  border-radius: 12px;
  background-color: var(--main-color);

  color: #fff;
  font-weight: 700;
}

.mockup_buttons_row {
  display: flex;
  margin-top: 20px;
}

.mockup_buttons_row button {
  height: 38px;
  background-color: var(--lightgray);
  border-radius: 8px;
  color: #4e4e4e;
  text-wrap: nowrap;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.active_button {
  font-weight: 900;
  background-color: unset !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
}

.mockup_buttons_row button:hover {
  background-color: #f2f2f2;
}

.product_avails {
  display: flex;
}

.availability {
  margin-top: 15px;
  height: fit-content;
  width: 100%;
  background-color: var(--lightgray);
  border-radius: 12px;
  padding: 12px 15px;
  font-size: 14px;
  font-size: clamp(10px, 2.5vw, 14px);
  transition: background-color 0.2s;
  margin-right: 8px;
}

.availability:hover {
  background-color: #f2f2f2;
}

.availability:hover h3 {
  color: #439bed;
}

.availability h3 {
  color: var(--main-color);
  margin: 0;
}

.product_info {
  margin-top: 20px;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 1px 2px 0 var(--border-gray);
}

.product_info h2 {
  font-size: 24px;
  color: var(--main-gray);
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .product_card_main {
    flex-direction: column;
    align-items: center;
  }
  .product_characteristics {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .product_img {
    background-color: red;
    max-width: 80vw;
    aspect-ratio: 1/1;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .button__favorite {
    display: none;
  }
  .button_favorite_mobile {
    display: block;
  }
}
