.cart__button {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  transition: background-color, 0.3s;
}

.cart__button img {
  height: 24px;
  width: 24px;
}

.cart__button:hover {
  background-color: #b7dcff;
}