.cart__info {
  background-color: #fff;
  width: 27vw;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--border-gray);
}

.cart__info_conditions {
  font-size: 18px;
  color: var(--main-gray);
  font-weight: 700;
}

.cart__info_top {
  padding: 24px 16px 16px;
  border-bottom: 1px solid #eee;
}

.cart__info_total_amount {
  padding: 16px 16px 20px;
  border-bottom: 1px solid #eee;
}

.cart__summary {
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 700;
  display: block;
}

.cart__products_title {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-gray);
  display: block;
}

.product__avails_total {
  display: flex;
  gap: 10px;
}

.product__avails_block {
  background-color: var(--lightgray);
  flex-grow: 1;
  padding: 8px;
  border-radius: 8px;
}

.product__avails_block h4 {
  font-size: 14px;
  color: var(--main-gray);
}

.product__avails_block h5 {
  color: var(--main-color);
}

.best__price {
  padding: 16px;
  color: var(--main-gray);
}
