.menu__button_cabinet {
  color: var(--main-gray);
  padding: 24px 14px 24px 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.menu__button_cabinet img {
  position: absolute;
  height: 120px;
  width: 160px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .cabinet__button_img {
    max-height: 110px;
  }
}

.menu__button_cabinet h3 {
  font-weight: 600;
  font-size: 18px;
}

.menu__button_cabinet h4 {
  margin-top: 10px;
  font-size: 14px;
}

.inner__button {
  margin-top: 50px;
  width: 116px;
  height: 43px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  z-index: 3;
}

.inner__button:hover {
  background-color: var(--lightgray);
}
