.input {
  border-radius: 8px;
  border: 1px solid #e7e7e7;

  width: 280px;
  padding: 20px 20px 20px;
  height: 50px;

  font-weight: 700;
  color: #4e4e4e;
}

.input::placeholder {
  color: #8c8c8c;
  font-weight: 500;
}

.switch_auth {
  margin-left: 150px;
  height: 30px;
  text-wrap: nowrap;
}

.switch_auth h3:hover {
  color: var(--main-color);
}
