.result {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: #fff;
  height: 350px;
  cursor: pointer;
  padding: 8px;
  width: 275px;
}

.result__product_image {
  display: flex;
  justify-content: center;
}

.result img {
  margin-top: 3px;
  width: 160px;
  height: 160px;
  border-radius: 18px;
}

.result_description h3 {
  color: var(--main-gray);
}

.purchase_wrapper {
  display: flex;
  margin-top: 10px;
}

.purchase {
  width: 250px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.purchase h2 {
  line-height: 2.2;
  display: block;
  width: 80px;
  color: var(--main-gray);
  font-size: 20px;
  margin: 0 5px 0 10px;
  text-wrap: nowrap;
  font-weight: 700;
}

.purchase_button {
  height: 44px;
  width: 88px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.fav_button {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 0px;
  background: var(--lightgray);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav_button:hover::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Добавить в избранное";
  border-radius: 8px;

  color: #fff;
  font-weight: 500;
  text-wrap: nowrap;

  position: absolute;
  height: 44px;
  width: 220px;
  top: -50px;
  right: -50px;
  background-color: var(--main-gray);
}

.result_description img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.stars {
  background-color: var(--lightgray);
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 135px;
}

/* hover */
.result:hover .purchase_button {
  background-color: var(--main-color);
}

.result:hover .purchase_button h3 {
  color: #fff;
}

.fav_button img {
  width: 20px;
  height: 20px;
  margin: 0;
}

.fav_button:hover img {
  filter: brightness(0.1);
}

.product_info:hover {
  transition: color 0.3s;
  color: var(--main-color);
}

.product_info {
  height: 62px;
}

.product_subInfo {
  display: flex;
}

.product_subInfo h4 {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 15px;
  color: var(--main-gray);
}

.product_subInfo h3 {
  color: var(--main-color);
  margin-left: 15px;
}
.product_subInfo h3:hover {
  color: #73bbff;
}

.stars h4 {
  margin: 0 0 0 4px;
}

@media (max-width: 600px) {
  .result {
    min-height: fit-content;
    width: 100%;
    max-width: 93.5vw;
  }
  .product_info {
    height: fit-content;
    width: fit-content;
    margin: auto;
  }
  .result_description_inner {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}
