.menu__btn_cart {
  font-size: 12px;
  width: 90px;
  height: 60px;
  background-color: #fff;
  border-radius: 12px;
  transition: color, 0.3s;
  position: relative;
}

.menu__btn_cart:hover {
  background-color: var(--lightgray);
}

.cart__popup {
  position: relative;
  transform: scale(0);
  opacity: 0;
  transform-origin: 100% 10%;
  transition:
    transform 0.4s,
    opacity 0.3s;
  z-index: 7;
}

.menu__btn__wrapper {
  position: relative;
}

.counter_badge {
  position: absolute;
  right: 24px;
  top: 6px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid #fff;
  z-index: 1;
  border-radius: 50%;
  padding: 1px;
  min-width: 18px;
  min-height: 18px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.menu__btn__wrapper:hover .cart__popup {
  transform: scale(1);
  opacity: 1;
}

.menu__btn_cart img {
  height: 24px;
  width: 24px;
}

.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.08);
  display: block;
  pointer-events: none;
}
