.search_wrapper {
  width: 1400px;
  height: 177px;
  background-color: #fff;
  margin: auto;
  padding: 16px 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.search_wrapper h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 11px 0;
  color: #333333;
}

.search_wrapper h3 {
  margin: 11px 0;
}

.received_items h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 11px 0;
  color: #333333;
}

.results_list {
  margin: auto;
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 8px;
}

.result {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: #fff;
  padding: 10px;
  height: 360px;
  cursor: pointer;
}

.result__product_image {
  display: flex;
  justify-content: center;
}

.result img {
  margin-top: 3px;
  width: 160px;
  height: 160px;
  border-radius: 18px;
}

.result_description h3 {
  color: #333333;
}

.purchase_wrapper {
  display: flex;
  margin-top: 10px;
}

.purchase {
  width: 250px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.purchase h2 {
  color: #333333;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 18px;
  text-wrap: nowrap;
}

.purchase_button {
  height: 44px;
  width: 88px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.fav_button {
  position: relative;
  margin-left: 10px;
  width: 44px;
  height: 44px;
  background: #f7f7f7;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav_button:hover::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Добавить в избранное";
  border-radius: 8px;

  color: #fff;
  font-weight: 500;
  text-wrap: nowrap;

  position: absolute;
  height: 44px;
  width: 250px;
  top: -50px;
  background-color: #333333;
}

.product_info:hover {
  transition: color 0.3s;
  color: #0080f5;
}

.product_info {
  height: 62px;
}

.product_subInfo {
  display: flex;
}

.product_subInfo h4 {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 15px;
}

.product_subInfo h3 {
  color: #0080f5;
  margin-left: 15px;
}
.product_subInfo h3:hover {
  color: #73bbff;
}

/* stars */
.result_description img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.stars {
  background-color: #f7f7f7;
  margin-top: 5px;
  display: flex;
  padding: 10px;
  border-radius: 8px;
  width: 135px;
}

.stars h4 {
  margin: 0 0 0 4px;
}
/* hover */
.result:hover .purchase_button {
  background-color: #0080f5;
}

.result:hover .purchase_button h3 {
  color: #fff;
}

/* то, что должно быть в конце */
.fav_button img {
  width: 20px;
  height: 20px;
  margin: 0;
  transition: filter 0.3s;
}

.fav_button:hover img {
  filter: brightness(0.1);
}

/* Пагинация */
.pagination_row {
  width: 830px;
  height: 50px;
  background-color: #fff;
  margin: auto;
  margin-top: 25px;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.pagination_row button {
  width: 65px;
  height: 100%;
}

.pagination_row button:hover {
  color: #0080f5;
  background-color: #dbeaf8;
}
