.search_wrapper {
  width: 1400px;
  height: 177px;
  background-color: #fff;
  margin: auto;
  padding: 16px 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.search_wrapper h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 11px 0;
  color: #333333;
}

.search_wrapper h3 {
  margin: 11px 0;
}

.received_items h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 11px 0;
  color: #333333;
}

.result img {
  width: 160px;
  height: 160px;
}

.result_description img {
  width: 100px;
  height: 40px;
}
.result_list {
  margin: auto;
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.result {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  background-color: #fff;
  padding: 10px;
}

.result_inner {
  display: flex;
  justify-content: center;
}
