.button__mainpage {
  height: 44px;
  width: 44px;
  border-radius: 8px;
  transition: background-color, 0.3s;
}

.button__mainpage:hover {
  background-color: #b7dcff;
  border: 1px solid var(--main-color) !important;
}

.button__mainpage img {
  height: 18px !important;
  width: 18px !important;
  margin: 0px !important;
}

.button__wishlistpage {
  height: 44px;
  width: 44px;
  border-radius: 8px;
  transition: background-color, 0.3s;
  position: relative;
}

.button__wishlistpage:hover::after {
  content: "Удалить из избранного";
  background-color: var(--main-gray);
  height: fit-content;
  width: fit-content;
  right: -150%;
  position: absolute;
  padding: 5px 10px;
  border-radius: 8px;
  display: block;
  bottom: 50px;
  color: #fff;
  text-wrap: nowrap;
}

.button__wishlistpage img {
  max-height: 18px;
  max-width: 18px;
}

.button__productpage {
  min-height: 64px;
  min-width: 64px;
  background-color: var(--lightgray);
  border-radius: 8px;
  margin-right: 10px;
}

.button__productpage img {
  width: 18px;
  height: 18px;
}
