.mainPageStyle {
  height: 44px;
  width: 44px;
  border-radius: 8px;
  transition: background-color, 0.3s;
}

.mainPageStyle:hover {
  background-color: #b7dcff;
}

.mainPageStyle img {
  height: 18px !important;
  width: 18px !important;
  margin: 0px !important;
}

.wishlistStyle {
  height: 44px;
  width: 44px;
  border-radius: 8px;
  transition: background-color, 0.3s;
}

.wishlistStyle img {
  max-height: 18px;
  max-width: 18px;
}

.productPageStyle {
  min-height: 64px;
  min-width: 64px;
  background-color: var(--lightgray);
  border-radius: 8px;
  margin-right: 10px;
}

.productPageStyle img {
  width: 18px;
  height: 18px;
}
