.product_table {
  color: var(--main-gray);
  font-size: 16px;
  margin-top: 16px;
}

.product_table h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.product_table h4 {
  width: 50%;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 10px;
}

.product_table h5 {
  margin-left: 18px;
  text-wrap: nowrap;
  margin-bottom: 10px;
}

.product_value {
  display: flex;
  align-items: end;
}

@media (max-width: 768px) {
  .product_value {
    justify-content: space-between;
  }
  .product_table h4 {
    width: 100%;
  }
}
