.product__wrapper {
  background-color: #fff;
  width: 65vw;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px var(--border-gray);
}

.product__container {
  display: flex;
  justify-content: space-between;
  padding: 28px 24px;
  gap: 10px;
}

.product__container h2 {
  flex-grow: 1;
  margin-bottom: 15px;
  cursor: pointer;
}

.product__container h2:hover {
  color: var(--main-color);
}

.product__image {
  width: 100px;
  height: 100px;
}

.product__container_description {
  flex-grow: 1;
}

.product__container_count {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  width: fit-content;
}

.product__container_count button {
  width: 40px;
  height: 32px;
  color: #afafaf;
  font-size: 18px;
}

.button__decrement::after {
  content: "-";
}

.button__increment::after {
  content: "+";
}

.button__delete {
  border: 1px solid #d9d9d9;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  transition: background-color, 0.3s;
}

.button__delete:hover {
  background-color: #b7dcff;
  border: 1px solid var(--main-color);
}

.button__delete img {
  height: 18px;
  width: 18px;
}

.product__price {
  font-size: 14px;
  color: #8c8c8c;
}
