.mobile_menu {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 -2px 10px #00000029;
  z-index: 1;
  justify-content: center;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .mobile_menu {
    display: flex;
  }
}
