.wrapper {
  width: 1400px;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}

.mainpage__row {
  width: 1400px;
  height: 206px;
  margin: auto;
  display: flex;
  justify-content: spa;
}

.rightside__menu {
  padding-left: 12px;
  width: 1400px;
}
