.wrapper {
  width: 100vw;
  background-color: #fff;
}

.mainpage__row {
  width: 1400px;
  height: 206px;
  margin: auto;
  display: flex;
}

.rightside__menu {
  padding-left: 12px;
  width: 1100px;
}
