@import "tailwindcss";

/* variables */

:root {
  --color-main: #0080f5;
  --color-lightgray: #f7f7f7;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: sans-serif;
    color: #333;
  }
}

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .container-main {
    @apply max-w-[1520px] mx-auto bg-white;
  }
}

.font-anta {
  font-family: "Anta";
}

input:focus {
  outline: none;
}
