@import "tailwindcss";

/* variables */

:root {
  --color-main: #0080f5;
  --color-lightgray: #f7f7f7;
  --color-gray: #d9d9d9;
  --color-lightblue: #dbeaf8;
}

body {
  font-family: var(--font-pt-sans), sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: sans-serif;
    color: #333;
  }
}

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .container-main {
    @apply max-w-[1520px] mx-auto  text-[var(--font-pt-sans)] pb-[100px];
  }

  .tw-heading {
    @apply text-[32px] text-[#333] font-bold py-[20px];
  }

  .shadow-1 {
    box-shadow: 0 2px 8px 0 #63636333;
  }
}

.font-anta {
  font-family: "Anta";
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}
