.cartPage__background {
  background-color: #f6f6f6;
  padding: 40px;
}

.container {
  width: 93.5vw;
  margin: auto;
}

.cart__span {
  display: flex;
  align-items: flex-end;
}

.cart__span h1 {
  font-size: 32px;
  color: var(--main-gray);
  font-weight: 700;
}

.cart__span h2 {
  font-size: 16px;
  color: #999;
  height: fit-content;
  margin-left: 10px;
  height: 25px;
}

.cart__span h4 {
  font-size: 16px;
  color: #999;
  line-height: 53px;
  margin-left: 12px;
}

.cart__overview {
  display: flex;
  justify-content: space-between;
}
