.slide {
  display: flex;
  height: 69px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid var(--border-gray);
  margin: 0;
  width: 140px !important;
}
