.wrapper {
  height: 100px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__container {
  width: 1200px;
  margin: auto;
}

.header__row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__row li {
  height: 60px;
  margin: none;
}

/* кнопки */
.menu__main_button {
  width: 200px;
  height: 60px;

  background-color: #2c7da0;
  border-radius: 12px;
}

.search {
  width: 650px;
  background-color: #f7f7f7;
  height: 60px;
  border-radius: 12px;
}

.menu__btn {
  font-size: 12px;
  width: 90px;
  height: 60px;
  background-color: #fff;
  border-radius: 12px;
  transition: color, 0.3s;
}

.menu__btn img {
  width: 24px;
  height: 24px;
}

.menu__btn:hover {
  background-color: #f7f7f7;
}

/* Nav */

.nav {
  width: 500px;
  height: 400px;
}

.nav img {
  width: 55px;
  height: 55px;
}
