.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 50px;
  background-color: #fff;
  width: fit-content;
  padding-inline: 80px;
  border-radius: 12px;
  margin-top: 16px;
  box-shadow: 0 2px 8px 0 #63636333;
}

.pagination button {
  width: 65px;
  height: 50px;
}

.pagination button:hover {
  background-color: #dbeaf8;
  color: var(--main-color);
}

.cursor_off {
  cursor: not-allowed;
}

.pagination button {
  position: relative;
}

.button_active::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  left: 0;
}

.pagination button img {
  width: 18px;
  height: 18px;
}

.pagination button:first-child img,
.pagination button:last-child img {
  filter: grayscale(100%);
}

.pagination button:first-child img {
  rotate: -90deg;
}

.pagination button:last-child img {
  rotate: 90deg;
}

.pagination button:first-child:not(.cursor_off):hover img,
.pagination button:last-child:not(.cursor_off):hover img {
  filter: grayscale(0);
}

@media (max-width: 768px) {
  .pagination button {
    width: 45px;
  }
  .pagination {
    padding-inline: 20px;
  }
}
