.mockup__container {
  width: 95vw;
  margin: auto;
  padding: 42px 20px;
}

.mockup__content {
  border: 1px solid var(--border-gray);
  border-radius: 12px;
  padding: 24px;
  background-color: var(--lightgray);
}

.mockup__content h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--main-gray);
}

.mockup__content h2 {
  font-size: 28px;
  color: var(--main-gray);
}

.mockup__content h3 {
  font-size: 20px;
  color: var(--main-color);
  margin-block: 15px;
}

.mockup__buttons {
  display: flex;
  gap: 40px;
}
