.modal__product {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin-bottom: 10px;
}

.modal__product_container {
  display: flex;
}

.modal__product img {
  width: 60px;
  height: 60px;
}

.modal__product h2 {
  font-size: 14px;
  color: var(--main-gray);
  margin-left: 10px;
  width: fit-content;
}

.modal__product h3 {
  font-size: 14px;
  color: #8c8c8c;
  margin-left: 10px;
  width: fit-content;
}

.modal__product span {
  font-size: 18px;
  color: var(--main-gray);
  font-weight: 700;
}
