.actual_offers_row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  margin-bottom: 35px;
}

.actual_offer_wrapper {
  width: 333px;
  height: 160px;
}

.actual_offer_title {
  font-size: 18px;
  font-weight: 700;
  color: #4e4e4e;
  margin-bottom: 16px;
}

.content {
  display: flex;
}

.offer_button {
  height: 108px;
  width: 108px;
  box-shadow: 0 1px 2px var(--border-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
}

.offer_button img {
  height: 77px;
  width: 78px;
}

.offer_categories {
  margin-left: 14px;
}

.offer_categories h5 {
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 6px;
}

.actual_offer_title:hover,
h5:hover {
  color: var(--main-color);
}

@media (max-width: 1420px) {
  .actual_offers_row {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 30px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 35px;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  .offer_wrapper {
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 660px) {
  .actual_offers_row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .actual_offer_wrapper {
    width: 80vw;
    height: fit-content;
  }
  .offer_button {
    height: 40%;
    width: 40%;
  }
  .offer_button img {
    min-width: 90%;
    width: 90%;
    min-height: 90%;
    height: 90%;
  }
  .actual_offer_title {
    font-size: 28px;
  }
  .offer_categories {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .offer_categories h5 {
    font-size: 24px;
    font-size: clamp(16px, 4vw, 24px);
    text-wrap: nowrap;
  }
  .content {
    justify-content: start;
  }
}
