.form__widget {
  width: 300px;
  height: 60px;
  position: relative;
}

.supabaseInput {
  border-radius: 8px;
  border: 1px solid #e7e7e7;

  height: 64px;
  width: 280px;
  padding: 20px 20px 10px;

  font-weight: 700;
  color: #4e4e4e;
}
