.form__widget {
  width: 280px;
  height: 60px;
  position: relative;
}

.supabaseInput {
  border-radius: 8px;
  border: 1px solid #e7e7e7;

  height: 64px;
  width: 280px;
  padding: 20px 20px 10px;

  font-weight: 700;
  color: #4e4e4e;
}

.errorBox {
  margin-top: 15px;
  border-radius: 8px;
  width: 280px;
  height: 64px;
  /* color: #d6ffd5; */
  background-color: #00be3f;
}

/* Switcher */

.switcher {
  height: 50px;
  width: 280px;
  border-radius: 8px;
  border: 2px solid #4187a5;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}

.switch__inner {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.switch__inner h2 {
  font-size: 20px;
}

.switch__inner h3 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.moving_box {
  position: absolute;
  height: 43px;
  width: 80px;
  border-radius: 6px;
  background-color: #4187a5;
  top: 2px;
  transition: all 0.3s;
  cursor: pointer;
}

.moving_box h2 {
  color: #fff;
  transition: all 1s;
  margin-left: 8px;
  margin-top: 5px;
}
