.query_button {
  border-radius: 17px;
  background-color: var(--lightgray);
  height: 35px;
  width: fit-content;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 20px;
}

.query_button:hover {
  background-color: #eeeeee;
  color: var(--main-color);
}
